/* *{
    margin:0;
    padding:0;
    list-style:none;
}
.card{
    width:600px;
    height:500px;
    border:1px solid #000;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.hd{
    width:100%;
    height:80px;
    border-bottom:1px solid #000;
    display:flex;
}
.hd>li{
    width:200px;
    height:100%;
    font-size:40px;
    color:blue;
    text-align:center;
    line-height:80px;
    border-right:1px solid #000;
}
.hd>li:last-child{
    border-right:0;
}
.content{
    width:100%;
    height:419px;
    position:relative;
}
.content>div{
    width:100%;
    height:100%;
    font-size:80px;
    color:yellowgreen;
    text-align:center;
    position:absolute;
    top:0;
    display:none;
} */